@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-laser-eyes-space-cat-riding-rainbow-pizza-random-galaxy.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
  background-size:cover;
  
}

h1{
  font-size: 30px;
  color: red;
}

#myCanvas {
  background-size: 400px 400px;
  border-radius: 200px;
  border: 3px solid orange;
}



